* {
    transition: var(--transition);
}

html, body {
	height: 100%;
}
html {
	font-size: 1px;
}

body {
	font-size: 16rem;
	font-family: var(--main-font);
	background: var(--c-white);
    color: var(--c-black);
    transition: var(--transition);
}

.btn {
    display: inline-block;
    border: 0;
    outline: 0;
    cursor: pointer;
}

.container {
    border: 5px solid purple;
    max-width: 1920px;
    margin-inline: auto;
}

.logo_title {
    font-family: var(--main-font);
    font-weight: 900;
    font-size: 40px;
    letter-spacing: 0.03em;

    @include desktop-small {
        font-size: 36px;
    }
}

.explore_now {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 24px;
    line-height: 208%;
    letter-spacing: -0.04em;
    color: #7f7f7f;

    @include desktop {
        font-size: 20px;
    }
}

.item_arrow {
    align-self: stretch;
    display: flex;
    align-items: center;    
}

.item_title {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 32px;
    line-height: 156%;
    letter-spacing: -0.04em;
    color: var(--c-black);

    @include desktop {
        font-size: 26px;
    }
    @include desktop-small {
        font-size: 24px;
    }
}

