html,
*,
*:before,
*:after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
    outline: 0;
}

html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
}
  
ol[role="list"], ul[role="list"] {
    list-style: none;
    padding-inline: 0;
}
  
h1, h2, h3, h4, h5 {
    font-size: inherit;
    font-weight: inherit;
}
  
img {
    display: block;
    max-inline-size: 100%;
    width: 100%;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}