.advert {
    margin-bottom: 190px;
    background: linear-gradient(360deg, #e0c340 0%, #dfc23e 3.93%, #e1c441 7.23%, #e3c743 10.23%, #e4c542 13.14%, #e6c744 16.22%, #e7c845 19.84%, #e5c643 24.38%, #e6c945 31%, #e3c743 37.19%, #e9ca48 43.33%, #edce49 50.36%, #f0d44c 56.57%, #f4d84f 62.71%, #f6da52 67.12%, #f7db53 73.77%, #f9dd55 79.08%, #f9df56 85.64%, #fae157 93.5%, #f9df56 100%);
    
    @include desktop {
        margin-bottom: 150px;
    }
    @include desktop-small {
        margin-bottom: 100px;
    }
    @include tablet-small {
        margin-bottom: 40px;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    &__image {
        align-self: stretch;
        flex-shrink: 0.5;
        display: flex;
        position: relative;

        @include desktop {
            flex: 50%;
        }
        @include tablet {
            flex: initial;
        }
        @include tablet-small {
            display: none;
        }
    }
    
    &__poster {
        object-fit: cover;
    }
    
    &__info {
        font-family: var(--main-font);
        padding: 128px 200px 155px 10px;
        position: relative;

        @include desktop {
            padding: 80px 60px 80px 10px;
        }
        @include tablet-small {
            padding: 30px;
            text-align: center;
        }
    }
    
    &__info .white_rect {
        position: absolute;
        max-width: 541px;
        left: -3%;
        top: 12%;
        z-index: auto;
        @include desktop {
            top: 6%;
        }
        @include desktop-small {
            max-width: 350px;
            top: 11%;
            left: 0;
        }
        @include tablet-small {
            max-width: 280px;
            top: 6%;
            left: 5%;
        }
    }
    
    &__title {
        max-width: 616px;
        font-weight: 900;
        font-size: 111px;
        line-height: 123%;
        color: var(--c-black);
        margin-bottom: 33px;
        position: relative;

        @include desktop {
            font-size: 80px;
        }
        @include desktop-small {
            font-size: 70px;
            font-weight: 800;
        }
        @include tablet {
            font-size: 60px;
            font-weight: 700;
        }
        @include tablet-small {
            font-size: 50px;
        }
    }

    &__desc {
        max-width: 666px;
        #advert__offer {
            font-weight: 500;
            font-size: 36px;
            line-height: 145%;
            letter-spacing: -0.02em;
            color: #231300;
            margin-bottom: 40px;

            @include desktop {
                font-size: 30px;
            }
            @include tablet {
                font-size: 22px;
                font-weight: 400;
                margin-bottom: 36px;
            }
            @include tablet-small {
                margin-bottom: 30px;
            }
        }
        
        #advert__date {
            font-weight: 700;
            font-size: 36px;
            line-height: 145%;
            letter-spacing: 0.02em;
            color: var(--c-black);

            @include desktop {
                font-size: 30px;
            }
            @include tablet {
                font-size: 26px;
            }
        }
        
        #advert__cond {
            font-weight: 400;
            font-size: 36px;
            line-height: 145%;
            letter-spacing: -0.02em;
            color: var(--c-black);
            margin-bottom: 51px;

            @include desktop {
                font-size: 30px;
            }
            @include tablet {
                margin-bottom: 36px;
                font-size: 22px;
            }
            @include tablet-small {
                margin-bottom: 30px;
            }
        }
    }
    
    &__button {
        font-weight: 600;
        font-size: 27px;
        letter-spacing: 0.02em;
        color: var(--c-white);
        background: var(--c-black);
        border-radius: 8px;
        padding: 32px 51px;

        @include desktop-small {
            padding: 22px 40px;
        }
        @include tablet {
            font-size: 24px;
            padding: 20px 36px;
        }
        @include tablet-small {
            font-size: 22px;
            font-weight: 500;
            padding: 14px 28px;
        }
    }
    
    &__image .star {
        position: absolute;
        max-width: 76px;

        @include tablet {
            max-width: 56px;
        }
    }
    
    &__image .upleft_star {
        left: 15%;
        top: 18%;
    }
    
    &__image .upright_star {
        right: 17%;
        top: 9%;
        @include desktop {
            right: 10%;
        }
        @include tablet {
            right: 0;
        }
    }
    
    &__image .downleft_star {
        left: 20%;
        bottom: 40%;
        @include desktop {
            left: 10%;
        }
        @include tablet {
            left: 0;
        }
    }
    
    &__image .downright_star {
        right: 10%;
        bottom: 25%;
        @include desktop {
            right: 5%;
        }
        @include tablet {
            right: 0;
        }
    }
}

