.app {
    margin-bottom: 200px;

    &__container {
        padding: 0 218px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__info {
        font-family: var(--main-font);
        max-width: 520px;
    }
    
    &__title {
        font-weight: 900;
        font-size: 48px;
        line-height: 150%;
        letter-spacing: 0.06em;
        color: var(--c-black);
        margin-bottom: 41px;
    }
    &__desc {
        font-weight: 500;
        font-size: 24px;
        line-height: 146%;
        letter-spacing: -0.04em;
        color: #7c7c7c;
        margin-bottom: 65px;
    }
    &__download {
        max-width: 420px;
        display: flex;
        justify-content: space-between;
        & a:hover {
            transform: scale(1.05);
        }
    }
    
    &__image {
        position: relative;

        img {
            max-width: 500px;
        }
    }
    
    .ring_large {
        position: absolute;
        top: 13%;
        right: -13%;
        z-index: -1;
    }
    
    .ring_medium {
        position: absolute;
        top: 19%;
        right: -3%;
        z-index: -1;
    }
    
    .ring_small {
        position: absolute;
        top: 25%;
        right: 6%;
        z-index: -1;
    }
    
    &__image .ellipse {
        position: absolute;
    }
    
    .ellipse_large-grey {
        max-width: 22px;
        top: 16%;
        left: -15%;
    }
    
    .ellipse_large-yellow {
        max-width: 50px;
        top: 15%;
        right: -10%;
    }
    
    .ellipse_small-yellow {
        max-width: 34px;
        bottom: 11%;
        left: -17%;
    }
    
    .ellipse_small-grey {
        max-width: 17px;
        bottom: 22%;
        right: -15%;
    }
}

