.brands {
    margin-bottom: 69rem;
    background: var(--c-yellow-main);

    @include tablet-small {
        margin-bottom: 30rem;
    }
    @include mobile {
        margin-bottom: 20rem;
    }

    &__container {
        padding: 50rem 171rem;

        @include desktop {
            padding: 25rem 60rem;
        }
        @include tablet {
            padding-inline: 30rem;
        }
        @include mobile {
            padding-inline: 20rem;
        }
    }

    &__list {
        display: flex;
        justify-content: baseline;
        align-items: center;
        gap: 121rem;

        @include desktop {
            gap: 80rem;
        }
        @include tablet {
            gap: 30rem;
        }
        @include mobile {
            flex-wrap: wrap;
            row-gap: initial;
            column-gap: 30rem;
        }
    }

    &__item {

        &:hover {
            transform: scale(1.2);
        }

        @include mobile {
            flex: calc((100% - 30rem * 2) / 3);
        }
    } 
}

