.brands {
    margin-bottom: 69px;
    background: var(--c-yellow-main);

    &__container {
        padding: 50px 171px;

        @include desktop {
            padding: 25px 60px;
        }
    }

    &__list {
        display: flex;
        justify-content: baseline;
        align-items: center;
        gap: 121px;

        @include desktop {
            gap: 80px;
        }
    }

    &__item {

        &:hover {
            transform: scale(1.2);
        }
    } 
}

