.footer {
    background: var(--c-black);

    &__container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 100px;
        padding: 119px 100px 147px;

        @include desktop {
            padding: 80px 60px;
            gap: 20px;
        }
        @include desktop-small {
            flex-direction: column;
            gap: 50px;
        }
        @include tablet {
            padding: 40px 30px;
        }
        @include tablet {
            gap: 30px;
        }
    }
    
    &__info {
        max-width: 450px;
        display: flex;
        flex-direction: column;
        gap: 32px;

        @include desktop-small {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            max-width: 100%;
        }
        @include tablet {
            flex-direction: column;
            gap: 20px;
        }
    }
    
    &__logo_title a {
        color: var(--c-white);
    }
    
    &__slogan {
        font-family: var(--second-font);
        font-weight: 400;
        font-size: 24px;
        line-height: 167%;
        letter-spacing: 0.02em;
        color: #8e8e8e;
 
        @include desktop-small {
            text-align: center;
        }
        @include tablet {
            font-size: 18px;
        }
    }
    
    &__social {
        display: flex;
        align-items: center;
        gap: 14px;
        max-width: 250px;

        @include tablet-small {
            max-width: 200px;
        }

        & img:hover {
            transform: scale(1.09);
        }
    }
    
    &__nav {
        font-family: var(--second-font);
        display: flex;
        gap: 168px;

        @include desktop {
            gap: 40px;
            justify-content: space-between;
        }

        @include tablet {
            gap: 20px;
        }
        @include tablet-small {
            gap: 10px;
        }
        @include mobile {
            flex-direction: column;
            gap: 20px;
        }

        &_company, &_guides, &_legal {

            @include desktop {
                flex: calc((100% - 40px * 2) / 3);
            }
            @include tablet {
                flex: calc((100% - 20px * 2) / 3);
            }
            @include tablet-small {
                flex: calc((100% - 10px * 2) / 3);
            }
        }
    }
    
    &__ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 32px;

        @include desktop-small {
            align-items: center;
        }
        @include tablet {
            gap: 20px;
        }
        @include mobile {
            gap: 10px;
        }
    }

    &__li:not(.footer__nav_title) a:hover {
        color: var(--c-yellow-main);
    }
    
    &__a {
        font-weight: 400;
        font-size: 24px;
        line-height: 167%;
        letter-spacing: 0.02em;
        color: #8e8e8e;

        @include tablet {
            font-size: 18px;
        }
    }
    
    &__nav_title a {
        color: #d9d9d9;
        cursor: default;
    }
}