.footer {
    background: var(--c-black);

    &__container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 100rem;
        padding: 119rem 100rem 147rem;

        @include desktop {
            padding: 80rem 60rem;
            gap: 20rem;
        }
        @include desktop-small {
            flex-direction: column;
            gap: 50rem;
        }
        @include tablet {
            padding: 40rem 30rem;
        }
        @include tablet {
            gap: 30rem;
        }
    }
    
    &__info {
        max-width: 450rem;
        display: flex;
        flex-direction: column;
        gap: 32rem;

        @include desktop-small {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            max-width: 100%;
        }
        @include tablet {
            flex-direction: column;
            gap: 20rem;
        }
    }
    
    &__logo_title a {
        color: var(--c-white);
    }
    
    &__slogan {
        font-family: var(--second-font);
        font-weight: 400;
        font-size: 24rem;
        line-height: 167%;
        letter-spacing: 0.02em;
        color: #8e8e8e;
 
        @include desktop-small {
            text-align: center;
        }
        @include tablet {
            font-size: 18rem;
        }
    }
    
    &__social {
        display: flex;
        align-items: center;
        gap: 14rem;
        max-width: 250rem;

        @include tablet-small {
            max-width: 200rem;
        }

        & img:hover {
            transform: scale(1.09);
        }
    }
    
    &__nav {
        font-family: var(--second-font);
        display: flex;
        gap: 168rem;

        @include desktop {
            gap: 40rem;
            justify-content: space-between;
        }

        @include tablet {
            gap: 20rem;
        }
        @include tablet-small {
            gap: 10rem;
        }
        @include mobile {
            flex-direction: column;
            gap: 20rem;
        }

        &_company, &_guides, &_legal {

            @include desktop {
                flex: calc((100% - 40rem * 2) / 3);
            }
            @include tablet {
                flex: calc((100% - 20rem * 2) / 3);
            }
            @include tablet-small {
                flex: calc((100% - 10rem * 2) / 3);
            }
        }
    }
    
    &__ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 32rem;

        @include desktop-small {
            align-items: center;
        }
        @include tablet {
            gap: 20rem;
        }
        @include mobile {
            gap: 10rem;
        }
    }

    &__li:not(.footer__nav_title) a:hover {
        color: var(--c-yellow-main);
    }
    
    &__a {
        font-weight: 400;
        font-size: 24rem;
        line-height: 167%;
        letter-spacing: 0.02em;
        color: #8e8e8e;

        @include tablet {
            font-size: 18rem;
        }
    }
    
    &__nav_title a {
        color: #d9d9d9;
        cursor: default;
    }
}