.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 46px 100px 56px;

    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 13px;
        &:hover {
            transform: scale(1.08);
        }
    }
    
    &__logo_title a {
        color: var(--c-black);
    }
    
    &__nav {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 54px;
    }
    
    &__ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 65px;
    }
    
    &__a {
        font-family: var(--main-font);
        font-weight: 500;
        font-size: 22px;
        letter-spacing: 0.01em;
        color: #242323;
        &:hover {
            color: var(--c-yellow-second);
        }
    }
    
    &__li:hover {
        transform: scale(1.09);
    }
    
    &__button {
        font-family: var(--main-font);
        font-weight: 500;
        font-size: 24px;
        letter-spacing: -0.03em;
        color: #fefefe;
        border-radius: 7px;
        background: var(--c-black);
        padding: 13px 22px 17px;

        &:hover {
            transform: scale(1.05);
            background: var(--c-yellow-main);
            color: var(--c-black);
        }
    }
}    