.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;

    &__container {
        max-width: 1920rem;
        margin-inline: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 46rem 100rem 56rem;

        @include desktop-small {
            padding: 46rem 80rem 56rem;
            gap: 15rem;
        }
        @include tablet-small {
            padding: 40rem 60rem;
        }
        @include mobile {
            padding: 30rem;
        }
    }

    &.scrolled {
        background: rgba(224, 224, 224, 0.5);
        backdrop-filter: blur(5px);
    }

    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 13rem;
        flex-shrink: 0;
        &:hover {
            transform: scale(1.08);
        }

        .logo_title {
            @include mobile {
                display: none;
            }
        }
    }
    
    &__logo_title a {
        color: var(--c-black);
    }
    
    &__nav {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 54rem;
        position: relative;
        
        @include desktop {
            gap: 30rem;
        }
        @include desktop-small {
            gap: 20rem;
        }
        @include tablet {
            gap: 50rem;
        }
    }
    
    &__ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 65rem;

        @include desktop {
            gap: 30rem;
        }
        @include desktop-small {
            gap: 20rem;
        }
        @include tablet {
            flex-direction: column;
            gap: 40rem;
            position: fixed;
            height: 100vh;
            width: 80%;
            left: 0;
            right: 0;
            top: 0;
            background: rgba(7, 7, 7, 0.9);
            z-index: 3;
            transform: translateX(-105%);
        }

        &.active {
            transform: translateX(0);
        }
    }

    &__li:hover {
        transform: scale(1.09);
    }
    
    &__a {
        font-family: var(--main-font);
        font-weight: 500;
        font-size: 22rem;
        letter-spacing: 0.01em;
        color: #242323;
        &:hover {
            color: var(--c-yellow-second);
        }

        @include desktop-small {
            font-size: 18rem;
            font-weight: 600;
        }
        @include tablet {
            color: var(--c-white);
            font-size: 24rem;
            font-weight: 400;
        }
        @include mobile {
            font-size: 20rem;
        }
    }

    &__burger {
        display: none;
        width: 24rem;
        height: 20rem;
        position: relative;
        cursor: pointer;
        span {
            display: block;
            position: absolute;
            top: calc(50% - 1rem);
            width: 100%;
            height: 3rem;
            background: var(--c-black);
        }

        &::before, &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 3rem;
            background: var(--c-black);
        }
        &::before {
            top: 0;
        }
        &::after {
            bottom: 0;
        }

        @include tablet {
            display: block;
        }
    }
    
    &__button {
        font-family: var(--main-font);
        font-weight: 500;
        font-size: 24rem;
        letter-spacing: -0.03em;
        color: #fefefe;
        border-radius: 7rem;
        background: var(--c-black);
        padding: 13rem 22rem 17rem;

        &:hover {
            transform: scale(1.05);
            background: var(--c-yellow-main);
            color: var(--c-black);
        }

        @include desktop-small {
            font-size: 22rem;
            padding: 14rem 18rem;
        }
        @include mobile {
            font-size: 16rem;
            font-weight: 400;
            padding: 10rem 15rem;
        }
    }

    .fa-xmark {
        display: none;

        @include tablet {
            display: block;
        }
    }
}    