.join {
    background: var(--c-yellow-second);

    &__container {
        padding: 141px 460px 156px;
        text-align: center;
        font-family: var(--main-font);

        @include desktop {
            padding: 100px 200px;
        }
        @include tablet {
            padding: 40px 30px;
        }
        @include tablet-small {
            padding: 30px;
        }
    }
    
    &__title {
        font-weight: 900;
        font-size: 55px;
        line-height: 127%;
        letter-spacing: 0.03em;
        text-align: center;
        color: var(--c-white);
        margin-bottom: 37px;

        @include desktop {
            font-size: 48px;
        }
        @include tablet {
            margin-bottom: 20px;
            font-size: 40px;
        }
        @include tablet-small {
            font-size: 32px;
        }
    }
    
    &__desc {
        font-weight: 400;
        font-size: 32px;
        line-height: 109%;
        letter-spacing: 0.03em;
        color: #fffcf8;
        margin-bottom: 49px;

        @include tablet {
            font-size: 24px;
            margin-bottom: 36px;
        }
        @include tablet-small {
            font-size: 20px;
        }
    }
    &__email {
        max-width: 574px;
        margin-inline: auto;
        display: flex;
        justify-content: space-between;
        gap: 10px;
        background: var(--c-white);
        border-radius: 10px;
        padding: 10px;

        @include tablet {
            max-width: 90%;
            padding: 6px;
        }
    }
    
    &__email input {
        border: none;
        outline: none;
        flex: 1;
    }
    
    
    &__email input[placeholder] {
        font-family: var(--main-font);
        font-weight: 400;
        font-size: 24px;
        line-height: 146%;
        letter-spacing: 0.03em;
        color: #767676;

        @include tablet {
            font-size: 20px;
            line-height: 116%;
        }
    }
    
    &__button {
        font-weight: 500;
        font-size: 33px;
        line-height: 106%;
        letter-spacing: 0.03em;
        text-transform: capitalize;
        color: var(--c-white);
        background: var(--c-black);
        border-radius: 8px;
        padding: 16px 35px;

        @include desktop {
            font-size: 28px;
        }
        @include tablet {
            font-size: 20px;
            padding: 12px 32px;
        }
    }
}

