.new-arriv {
    margin-bottom: 190rem;

    @include desktop {
        margin-bottom: 150rem;
    }
    @include desktop-small {
        margin-bottom: 100rem;
    }
    @include tablet-small {
        margin-bottom: 40rem;
    }

    &__container {
        padding: 0 104rem;

        @include desktop {
            padding-inline: 60rem;
        }
        @include tablet {
            padding-inline: 30rem;
        }
    }
    
    &__title {
        font-family: var(--main-font);
        font-weight: 900;
        font-size: 48rem;
        line-height: 104%;
        letter-spacing: 0.06em;
        color: var(--c-black);
        margin-bottom: 101rem;
        position: relative;
        display: inline-block;
        padding-bottom: 8rem;
        padding-right: 8rem;

        @include desktop {
            margin-bottom: 70rem;
        }
        @include tablet {
            margin-bottom: 50rem;
            font-size: 40rem;
        }
        @include tablet-small {
            margin-bottom: 40rem;
            font-size: 30rem;
        }
        @include mobile {
            margin-bottom: 20rem;
            font-size: 20rem;
        }
    }
    
    &__title .yellow_wave2 {
        position: absolute;
        max-width: 186rem;
        right: 0;
        bottom: 0;
        z-index: -1;
    }
    
    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 90rem;

        @include desktop {
            justify-content: space-between;
            gap: 60rem;
        }
        @include tablet {
            gap: 30rem;
        }
    }
    
    &__item_box {
        flex: 0 1 calc((100% - 90rem * 2)/3);
        display: flex;
        flex-direction: column;

        @include desktop {
            flex: 0 1 calc((100% - 60rem * 2)/3);
        }
        @include tablet {
            flex: 0 1 calc((100% - 30rem * 2)/3);
        }
        @include mobile {
            flex: 0 1 100%;
        }
    }
    
    &__item_image {
        margin-bottom: 28rem;
        border-radius: 20rem;
        cursor: pointer;

        img {
            border-radius: 20rem;

            &:hover {
                transform: scale(1.02);
                box-shadow: 0 0 2px 1px rgba(67, 62, 4, 0.5), 0 0 20px 0 rgba(235, 217, 107, 0.5);
            }
        }

        @include desktop {
            margin-bottom: 16rem;
        }
    }
    
    &__item_desc {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;

        &:hover .new-arriv__item_text p {
            color: var(--c-yellow-main);
        }
        &:hover .new-arriv__item_arrow {
            transform: scale(1.2);
        }
        &:hover .new-arriv__item_arrow .arrow svg path {
            fill: var(--c-yellow-main);
        }
    }
}



