.welcome {
    margin-bottom: 63px;
    
    &__container {
        padding-inline: 100px;
    }

    &__banner {
        display: flex;
        justify-content: space-between;
        gap: 43px;
        background: #f4f6f5;
        border-radius: 59px;
        padding: 77px 81px 0px 119px;
    }
    
    &__title_box {
        position: relative;
        z-index: 2;

        & .white_rect {
            position: absolute;
            max-width: 541px;
            left: -6%;
            top: -2%;
            z-index: auto;
        }
        
        & .yellow_rect {
            position: absolute;
            max-width: 541px;
            left: -5%;
            bottom: 25%;
            z-index: auto;
        }
    }
    
    &__title {
        max-width: 474px;
        font-family: var(--main-font);
        font-weight: 900;
        font-size: 96px;
        line-height: 125%;
        color: var(--c-black);
        margin-bottom: 40px;
        position: relative;
    }
    
    &__desc {
        font-family: var(--main-font);
        font-weight: 400;
        font-size: 32px;
        letter-spacing: -0.05em;
        color: #191818;
        margin-bottom: 32px;
    }
    
    &__button_box {
        display: flex;
        align-items: center;
        gap: 34px;
    }
    
    &__button {
        font-family: var(--main-font);
        font-weight: 500;
        font-size: 30px;
        letter-spacing: -0.05em;
        color: var(--c-white);
        background: var(--c-black);
        border-radius: 10px;
        padding: 18px 40px;
    }
    
    &__image {
        display: flex;
        justify-content: center;
        align-self: stretch;
        position: relative;
        img:first-of-type {
            //align-self: flex-end;
            object-fit: cover;
            overflow: visible;
        }
    }
    
    &__image .star {
        position: absolute;
        max-width: 58px;
    }
    
    &__image .upleft_star {
        top: -1%;
        left: -3%;
    }
    
    &__image .upright_star {
        top: 5%;
        right: 17%;
    }
    
    &__image .downleft_star {
        bottom: 5%;
        left: 2%;
    }
    
    &__image .downright_star {
        bottom: 13%;
        right: -1%;
    }
}

