.young-fav {
    margin-bottom: 200px;

    @include desktop {
        margin-bottom: 150px;
    }
    @include desktop-small {
        margin-bottom: 100px;
    }
    @include tablet-small {
        margin-bottom: 40px;
    }
    
    &__container {
        padding: 0 100px;

        @include desktop {
            padding-inline: 60px;
        }
        @include tablet {
            padding-inline: 30px;
        }
    }
    
    &__title {
        font-family: var(--main-font);
        font-weight: 900;
        font-size: 48px;
        line-height: 104%;
        letter-spacing: 0.06em;
        color: var(--c-black);
        margin-bottom: 118px;
        position: relative;
        display: inline-block;
        padding-bottom: 12px;

        & .yellow_wave1 {
            position: absolute;
            max-width: 190px;
            right: 0;
            bottom: 0;
            z-index: -1;
        }

        @include desktop {
            margin-bottom: 70px;
        }
        @include tablet {
            margin-bottom: 50px;
            font-size: 40px;
        }
        @include tablet-small {
            margin-bottom: 40px;
            font-size: 30px;
        }
        @include mobile {
            margin-bottom: 20px;
            font-size: 24px;
        }
    }
    
    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 47px;

        @include desktop {
            justify-content: space-between;
        }
        @include tablet-small {
            gap: 20px;
        }
    }
    
    &__item_box {
        flex: 0 1 calc((100% - 47px)/2);
        display: flex;
        flex-direction: column;
        
        @include tablet-small {
            flex: 0 1 calc((100% - 20px)/2);
        }
        @include mobile {
            flex: 0 1 100%;
        }
    }
    
    &__item_image {
        border-radius: 20px;
        margin-bottom: 28px;
        cursor: pointer;

        & img {
            border-radius: 20px;
            &:hover {
                transform: scale(1.02);
                box-shadow: 0 0 2px 1px rgba(67, 62, 4, 0.5), 0 0 20px 0 rgba(235, 217, 107, 0.5);
            }
        }

        @include desktop {
            margin-bottom: 16px;
        }
    }
      
    &__item_desc {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;

        &:hover .young-fav__item_text p {
            color: var(--c-yellow-main);
        }
        &:hover .young-fav__item_arrow {
            transform: scale(1.2);
        }
        &:hover .young-fav__item_arrow .arrow svg path {
            fill: var(--c-yellow-main);
        }
    }
}

